body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-top: auto;
}

footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}

footer .copyright a {
  color: #555;
}

footer .copyright a:hover {
  color: #777;
}

footer .copyright:before {
  content: '©';
}

.author-github,
.rs-school {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.author-github__logo {
  color: #555;
}

.author-github:hover > .author-github__logo,
.author-github:hover > .author-github__nick {
  color: #777;
}

.rs-school__logo {
  width: 200px;
  height: 74px;
  background-image: url('./assets//svg/rs-shool__logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.rs-school__logo:hover {
  background-image: url('./assets//svg/rs-school__logo--hover.svg')
}
